/* css-reset*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

/* Css for website*/
section {
  width: 100vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  .main-container {
    width: 65vw;
    background-color: rgb(30, 28, 28);
    height: 73vh;
    border-bottom: 10px solid white;
    padding-left: 48px;
    display: flex;
    align-items: center;
  }
}
.white-container {
  background-color: white;
  width: 58%;
  height: 63%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  p{
  font-size: 12px; 
    text-align: justify;
    margin: 20px 25px;
    
  }
}

.pink-container{
  width: 85%;
  background-color: #ff1093;
  align-self: center;
  justify-self: center;
  height: 62px;
  margin-top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}